<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BioSite</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.html</welcome-file>
    <welcome-file>jsp/index.htm</welcome-file>
    <welcome-file>jsp/index.jsp</welcome-file>
    <welcome-file>jsp/default.html</welcome-file>
    <welcome-file>jsp/default.htm</welcome-file>
    <welcome-file>jsp/default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Everything</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>regular_user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Assets</web-resource-name>
      <url-pattern>/assets/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Public access</web-resource-name>
      <url-pattern>/jsp/requestAccess.jsp</url-pattern>
      <url-pattern>/jsp/index.jsp</url-pattern>
      <url-pattern>/jsp/alignmentTutorial.jsp</url-pattern>
      <url-pattern>/jsp/treeTutorial.jsp</url-pattern>
      <url-pattern>/jsp/findingDataTutorial.jsp</url-pattern>
      <url-pattern>/AccessRequestServlet</url-pattern>
      <url-pattern>/favicon.ico</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>regular_user</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/jsp/login.jsp</form-login-page>
      <form-error-page>/jsp/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>